@page
@model WebApplication1.Pages.Australia_SydneyModel
@{
}
<div>
    <h1>Australia Sydney</h1>
    <h4>abbreviation</h4>
    <p>@Model.abbreviation</p>
    <h4>client_ip</h4>
    <p>@Model.client_ip</p>
    <h4>datetime</h4>
    <p>@Model.datetime</p>
    <h4>day_of_week</h4>
    <p>@Model.day_of_week</p>
    <h4>day_of_year</h4>
    <p>@Model.day_of_year</p>
    <h4>dst</h4>
    <p>@Model.dst</p>
    <h4>dst_from</h4>
    <p>@Model.dst_from</p>
    <h4>dst_offset</h4>
    <p>@Model.dst_offset</p>
    <h4>dst_until</h4>
    <p>@Model.dst_until</p>
    <h4>raw_offset</h4>
    <p>@Model.raw_offset</p>
    <h4>timezone</h4>
    <p>@Model.timezone</p>
    <h4>unixtime</h4>
    <p>@Model.unixtime</p>
    <h4>utc_datetime</h4>
    <p>@Model.utc_datetime</p>
    <h4>utc_offset</h4>
    <p>@Model.utc_offset</p>
    <h4>week_number</h4>
    <p>@Model.week_number</p>
</div>